.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dfdddd;
    width: 360px;
    height: 25px;
    margin: 3px;
    border-radius: 7px;
}
.input input{
    border: 0;
    background-color: transparent;
    font-size: 1em;
    font-weight: bold;
    color: rgba(215, 0, 82, 0.7);
}

.button{
    cursor: pointer;
}

@media screen and (max-width: 400px){
    .input{
        width: 190px;
    }
}